h3{ font-size: 18px; margin:20px 0px; }
.product ul li.item{ float: left; margin-left: 30px; margin-bottom: 18px;}
.news .time{ float: right;}
p{text-indent: 24px; margin-bottom: 10px;}
.nav .on{ background: rgb(36,58,12);} 