
/*reset*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,i,strong,th,var,optgroup{font-style:normal;font-weight:normal}
ul,ol{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
pre{white-space:pre-wrap;word-wrap:break-word}
a{cursor:pointer}
a:link{color:#37a;text-decoration:none}
a:visited{color:#669;text-decoration:none}
a:hover{color:#fff;text-decoration:none;background:#37a}
a:active{color:#fff;text-decoration:none;background:#f93}
a img{border-width:0;vertical-align:middle}
body,td,th{font:12px Arial,Helvetica,sans-serif;line-height:1.62}
table{border-collapse:collapse;border:0;padding:0;margin:0}
wbr:after{content:"\00200B"}
textarea{resize:none}
input[type=text]:focus,input[type=password]:focus,textarea:focus{outline:0}
body{background: #fff;}
.clear{ clear: both;}

/*public*/
body{ font-size: 14px; color: #333;}
.content,div.footer{ width: 1000px; margin: 0px auto;}
.hide{display: none;}

/*footer*/
div.footer{ border-top: 1px dashed #ddd; color: #999; clear: both; height: 30px; margin-top: 30px;}

/*header*/
h1{ font-size: 28px; position: relative; top: 8px;}
h2{ font-size: 14px; top: 6px;}
div.header{ width: 1000px; margin: 0px auto; font-weight: bolder; color: #eefbf4;font-family: '微软雅黑';/*background: url(images/bg.jpg);*/ height: 80px; position: relative;}
.headwrapper{ width: 100%;background: #398102; height: 80px; margin-bottom: 2px;}
div.header .logo{ float: left;}
div.header .nav{ float: right; position: absolute; bottom: 0px; right: 0px; background: url(../images/bg.gif) repeat-x; height: 36px; width: 528px;}
div.header .nav li{ float: left; margin-left: 20px; padding: 0px 6px; font-size: 16px; position: relative; top: 1px;}
div.header .nav li a{ color: #fff; position: relative; top: 6px; display: inline-block; width: 70px; height: 35px;}
div.header .nav li a:hover{ background: none; text-decoration: underline;}
div.header .nav li.index{ background: url(../images/bg1.gif); height: 35px; left:-20px; padding: 0px; margin-right: 2px; width: 80px;}
div.header .nav li.index a{ position: relative; left: 26px;}



